<div class="center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>BBZW Jass</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" required/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!redirectTo" mat-button color="primary" (click)="create()">
        Privates Spiel erstellen
      </button>
      <button *ngIf="!redirectTo" mat-button (click)="createPublic()">
        Öffentliches Spiel erstellen
      </button>
      <button mat-button color="accent" (click)="join()">
        Spiel beitreten
      </button>
    </mat-card-actions>
  </mat-card>
</div>
