.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 163px 163px 163px 163px 163px 163px 163px 163px 163px auto 300px;
    grid-template-rows: auto auto 249px;
    grid-gap: 10px;
    background-color: #f8f8f8;
}

.grid-playground {
    grid-column: 1 / span 11;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carpet {
    width: 75%;
    height: 75%;
    background-color: #349255;
    border-radius: 50px;
}

.grid-count {
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
}