<div class="grid-container">
    <div class="grid-playground">
        <div class="carpet"></div>
    </div>
    <div class="grid-count">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Team 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>{{playerName1}} & {{playerName2}}</mat-label><br>
                <mat-label class="score">{{countTeam1}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-count">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Team 2</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>{{playerName3}} & {{playerName4}}</mat-label><br>
                <mat-label class="score">{{countTeam2}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
    <div></div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>  
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>
    <div>
        <img src="../../assets/cards/ACORN_ASS.png">
    </div>    
    <div></div>
    <div></div>
  </div>

