<div class="grid-playground">
    <div class="playground">
        <div class="carpet">
            <div class="carpet card1">
                <img src="../../assets/cards/{{playedCardMate}}.png" onerror="this.style.display='none'">
            </div>
            <div class="carpet card2">
                <img src="../../assets/cards/{{playedCardOpponent1}}.png" onerror="this.style.display='none'">
            </div>
            <div class="carpet card3">
                <img src="../../assets/cards/{{playedCardOpponent2}}.png" onerror="this.style.display='none'">
            </div>
            <div class="carpet card4">
                <img src="../../assets/cards/{{playedCard}}.png" onerror="this.style.display='none'">
            </div>
        </div>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-content>
                <mat-card-title class="card title">Team 1</mat-card-title>
                <mat-label class="card name">{{playerName1}} & {{playerName2}}</mat-label><br>
                <mat-label class="card score">{{scoreTeam1}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <mat-card-content>
                <mat-card-title class="card title">Team 2</mat-card-title>
                <mat-label class="card name">{{playerName3}} & {{playerName4}}</mat-label><br>
                <mat-label class="card score">{{scoreTeam2}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
    <div></div> <!-- empty grid space -->
    <div class="cards">
        <img *ngFor="let card of cards" onclick="cardClicked(card)" src="../../assets/cards/{{card.color}}_{{card.value}}.png" onerror="this.style.display='none'">
    </div>    
</div>

