<div class="grid-container">
    <div class="grid-playground">playground</div>
    <div class="grid-count">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Team 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>{{playerName1}} & {{playerName2}}</mat-label><br>
                <mat-label>{{countTeam1}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-count">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Team 2</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>{{playerName3}} & {{playerName4}}</mat-label><br>
                <mat-label>{{countTeam2}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
    <div></div>
    <div class="grid-card">card 1</div>
    <div class="grid-card">card 2</div>
    <div class="grid-card">card 3</div>  
    <div class="grid-card">card 4</div>
    <div class="grid-card">card 5</div>
    <div class="grid-card">card 6</div>  
    <div class="grid-card">card 7</div>
    <div class="grid-card">card 8</div>
    <div class="grid-card">card 9</div>     
    <div></div>
    <div></div>
  </div>

